<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <script src="../js/script.js"></script>
    <script src="../js/header.js"></script>
    <title>Join</title>
</head>

<body onload="includeHTML()">
    <div w3-include-html="../templates/sidebar.html"></div>
    <div w3-include-html="../templates/header.html"></div>
    <h1 class="headline-task">Add Task</h1>
    <div class="add-task-container">
        <form class="form" action="">
            <div class="groupTask1-input">
                <span>Title</span>
                <input type="text">
                <span>Description</span>
                <textarea name="" id="" cols="30" rows="5"></textarea>
                <span>Assigned to</span>
                <select name="" id="">
                    <option value="">test</option>
                    <option value="">test</option>
                    <option value="">test</option>
                </select>
            </div>
        </form>

        <div class="seperator"></div>

        <form class="form" action="">
            <div class="groupTask2-input">
                <label>Title</label>
                <input type="date">
                <label>Prio</label>
                <div class="prio-container">
                    <button class="prioBtn">Urgent</button>
                    <button class="prioBtn">mid</button>
                    <button class="prioBtn">low</button>
                    </div>
                    <label>Category</label>
                <select name="" id="">
                    <option value="">test</option>
                    <option value="">test</option>
                    <option value="">test</option>
                </select>
                <label>Subtask</label>
                <input type="text" name="" id="">
        </form>
            <div>
        <button class="btnClear">Clear</button>
        <button class="btnTask">Create Task</button>
    </div>
    </div>


</body>

</html>