<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <script src="../js/script.js"></script>
    <script src="../js/header.js"></script>
    <title>Join</title>
</head>
<body onload="includeHTML()">
    <div w3-include-html="../templates/sidebar.html"></div>
    <div w3-include-html="../templates/header.html"></div>
    <h1 class="headline-task">Add Task</h1>
    <div class="add-task-container">
        <div>
        <form class="form" action="">
            <span>Title</span>
            <input type="text">
            <span>Description</span>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <span>Assigned to</span>
            <input type="text">
        </form>
    </div>
    <div class="seperator"></div>
        <div>
            <form class="form" action="">
                <span>Title</span>
                <input type="text">
                <span>Description</span>
                <textarea name="" id="" cols="30" rows="5"></textarea>
                <span>Assigned to</span>
                <input type="text">
            </form>
    </div>
    </div>

</body>
</html>