<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/board.css" />
    <link rel="stylesheet" href="../styles/smallcardPrototype.css" />
    <script src="../js/test_max.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/header.js"></script>
    <title>Join board</title>
  </head>
  <body onload="includeHTML(), updateHTML()">
    <div w3-include-html="../templates/sidebar.html"></div>
    <div w3-include-html="../templates/header.html"></div>

    <div class="board-container">
      <section class="top">
        <h1>Board</h1>
        <div class="top-right">
          <div class="input-area">
            <input
              onkeydown="search()"
              id="search"
              type="search"
              placeholder="Find Task"
            />
            <div class="input-area-right">
              <div class="input-area-right-seperator"></div>
              <img class="search-svg" src="../assets/icons/search.svg">       
            </div>
          </div>

          <button>
            Add task
            <img src="..//assets/icons/add_icon_white.svg">            
          </button>
        </div>
      </section>
      <section class="main">
        <div class="todo">
          <div class="todo-head">
            <h3>To Do</h3>
            <img class="plusBtn-svg" src="..//assets/icons/plusbuttonBoard.svg">            
          </div>
          <div
            class="drag-area"
            id="toDo"
            ondrop="moveTo('toDo')"
            ondragleave="removeHighlight('toDo')"
            ondragover="allowDrop(event); highlight('toDo')"
          ></div>
        </div>
        <div class="inProgress">
          <div class="inProgress-head">
            <h3>In Progress</h3>
            <img class="plusBtn-svg" src="..//assets/icons/plusbuttonBoard.svg">                       
          </div>
          <div
            class="drag-area"
            id="inProgress"
            ondrop="moveTo('inProgress')"
            ondragleave="removeHighlight('inProgress')"
            ondragover="allowDrop(event); highlight('inProgress')"
          ></div>
        </div>
        <div class="awaitFeedback">
          <div class="awaitFeedback-head">
            <h3>Await Feedback</h3>
            <img class="plusBtn-svg" src="..//assets/icons/plusbuttonBoard.svg">           
           
          </div>
          <div
            class="drag-area"
            id="awaitFeedback"
            ondrop="moveTo('awaitFeedback')"
            ondragleave="removeHighlight('awaitFeedback')"
            ondragover="allowDrop(event); highlight('awaitFeedback')"
          ></div>
        </div>
        <div class="done">
          <div class="done-head">
            <h3>Done</h3>
          </div>
          <div
            class="drag-area"
            id="done"
            ondrop="moveTo('done')"
            ondragleave="removeHighlight('done')"
            ondragover="allowDrop(event); highlight('done')"
          ></div>
        </div>
        <div id="showBigCard" class="showBigCard dnone"></div>
      </section>
    </div>
  </body>
</html>
