<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/contacts.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />

    <script src="../js/header.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/contacts.js"></script>
    <title>Contact Join</title>
  </head>
  <body onload="init()">
    <div w3-include-html="../templates/sidebar.html"></div>
    <div w3-include-html="../templates/header.html"></div>
    <div class="contactContainer">
        <div class="divContactList">
            <button class="btnJoin style_BtnTypography1" type="button" id="button"> Add new contact <img
                    class="iconContact" src="../assets/icons/person_add_icon.svg"></button>
            <div class="divList" id="divList">
         
            </div>
        </div>
        <div class="divContactDetails">
            <div class="divContactTitle">
                <h1 class="titleContact">Contacts</h1>
                <div class="seperator"></div>
                <p class="style_BtnTypography1">Better with a team</p>
            </div>

        </div>

    </div>


</body>
</html>
