<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../js/script.js"></script>
    <script src="../js/header.js"></script>
  </head>
  <body>
    <header class="header">
      <span class="header-left">Kanban Project Management Tool</span>

      <div class="header-right">
        <div class="help">
          <a href="./help.html">
            <img class="headericon" src="../assets/ico/help_icon.png" />
          </a>
        </div>
        <div class="header-user">
          <button onclick="headerDropdown()" class="useremblem">G</button>
          <div id="dropdownContent" class="dropdownContent">
            <a href="./legal_notice.html">Legal Notice</a>
            <a href="./privacy_policy.html">Privacy Policy</a>
            <a onclick="logOut()" href="#">Log Out</a>
            <!--später loginHtml in href oder function logOut()-->
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
