<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/login.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/login.css">

</head>

<body>

    <container class="containerLog" id="containerLog">

        <div class="headlineLogin">
            <img class="imgLogo" id="imgLogoID" src="../assets/ico/joinLogin_icon.png">
            <div class="divSignUp">
                <p class="styleTypography1">Not a Join user? </p>
                <a class="btnJoin style_BtnTypography2" type="button" href="../templates/signUp.html">Sign up </a>
            </div>
        </div>
        <form class="formLogin">
            <h1 class="title underline">Log in</h1>
            <div class="groupLogin-input">
               <input class="inputs style_InputTypography1" type="email" id="email" style="background-image: url(../assets/ico/mail_icon.png)"
                        placeholder="Email" required>    
                <input class="inputs style_InputTypography1" type="password" id="password" style="background-image: url(../assets/ico/lock_icon.png)"
                        placeholder="Password" required>
            </div>
            <div class="box-remember style_InputTypography2">
                <input class="checkBox" type="checkbox" id="remember">
                <label for="remember"> Remember me</label>
            </div>

            <div class="divBtn ">
                <button class="btnJoin style_BtnTypography1" type="submit" id="submit">Log in</button>
                <button class="btnGuest style_BtnTypography1" id="Guest_Login">Guest Log in</button>
            </div>

        </form>
        <div class="footerLogin">
            <a class="a_footer style_InputTypography2" href="#">Privacy Policy</a>
            <a class="a_footer style_InputTypography2" href="#">Legal notice</a>
        </div>





    </container>
</body>

</html>