<nav class="sidebar" id="mysidebar">

    <img class="logoimg" src="/assets/ico/joinWhite_icon.png" />


    <div id="menu" class="menu">
       <a class="a-nav" href="#"><img class="icon" src="/assets/ico/summary_icon.png">Summary </a>
       <a class="a-nav" href="#"><img class="icon" src="/assets/ico/addtask_icon.png"> Add Task</a>
       <a class="a-nav" href="#"><img class="icon" src="/assets/ico/board_icon.png"> Board</a>
       <a class="a-nav" href="#"><img class="icon" src="/assets/ico/contacts_icon.png"> Contacts</a>
       
    </div>
    <div class="footer">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</nav>