<nav class="sidebar" id="mysidebar">

    <img class="logoimg" src="/img/LogoWhite.png" />


    <div id="menu" class="menu">
        <ul>
            <li><a class="a-nav" href="#"><i class="bi bi-columns icon"></i> Summary </a></li>
            <li><a class="a-nav" href="#"><i class="bi bi-pencil-square icon"></i> Add Task</a></li>
            <li><a class="a-nav" href="#"><i class="bi bi-layout-three-columns icon"></i> Board</a></li>
            <li><a class="a-nav" href="#"><i class="bi bi-person-workspace icon"></i> Contacts</a></li>

        </ul>
    </div>
    <div class="footer">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</nav>