<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/smallcardPrototype.css" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div id="smallCard${i}" class="smallcard" onclick="showBigCard($,{i})">
      <div class="category">
        <h2>Category</h2>
      </div>
      <div class="title">
        <h3>Title</h3>
      </div>
      <div class="description">
        <p">description</p>
      </div>
      <div class="information">
        <div class="users" id="users">User1</div>
        <div class="priority" id="priority">
            <img src="../assets/icons/low.svg" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
