<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
    <link rel="stylesheet" href="../styles/summary.css"">

    <script src="../js/script.js"></script>
    <script src="../js/header.js"></script>
    <title>Join summary</title>
  </head>
  <body onload="includeHTML()">
    <div w3-include-html="../templates/sidebar.html"></div>
    <div w3-include-html="../templates/header.html"></div>
      <div class="summaryTitleContainer">
        <h1 class="titleContact">Join 360</h1>
        <div class="seperator"></div>
        <p>Key Metrics at a Glance</p>
      </div>
      <div class="summaryContainer" id="summaryContainer">
       
          <div class="summaryCard">
            <div class="iconContainer">
              <img class="summaryIcons" src="../assets/icons/mail_icon.svg" alt="">
              <div class="textContainer">
              <span class="numberContainer">1</span>
              <span>To-do</span>
            </div>
            </div>
        </div>

          <div class="summaryCard">
            <div class="iconContainer">
              <img class="summaryIcons" src="../assets/icons/mail_icon.svg" alt="">
              <div class="textContainer">
              <span class="numberContainer">1</span>
              <span>Done</span>
            </div>
            </div>
        </div>
      <div class="summaryCardBig">
        test
    </div>
    <div class="summaryCardSmall">
      test
  </div>
  <div class="summaryCardSmall">
    test
</div>
<div class="summaryCardSmall">
  test
</div>
        
      </div>
  </body>
</html>
