<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/fonts.css" />
    <link rel="stylesheet" href="../styles/summary.css" />
    <link rel=" stylesheet" href="../styles/mobile_taskbar.css" />
    <link rel="icons" href="./assets/icons/join_icon.svg" />
    <script src=" ../js/script.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/summary.js"></script>
    <script src="../js/dummy_db.js"></script>
    <title>Join summary!</title>
  </head>

  <body onload="init()">
    <div w3-include-html="../templates/sidebar.html"></div>
    <div w3-include-html="../templates/header.html"></div>
    <div w3-include-html="../templates/mobile_taskbar.html"></div>
    <div class="testContainer">
      <div class="joinContainer">
        <div class="summaryContainer">
          <div class="summaryTitleContainer">
            <h1 class="titleContact">Join 179</h1>
            <div class="seperator"></div>
            <p>Key Metrics at a Glance</p>
          </div>
          <a href="board.html" class="summaryCard">
            <div class="iconContainer">
              <div class="divSummaryIcons">
                <img class="summaryIcons" src="..//assets/icons/edit.svg" />
              </div>
              <div class="textContainer">
                <span class="numberContainer">1</span>
                <span>To-do</span>
              </div>
            </div>
          </a>
          <a href="board.html" class="summaryCard">
            <div class="iconContainer">
              <div class="divSummaryIcons">
                <img class="summaryIcons" src="..//assets/icons/vector.svg" />
              </div>
              <div class="textContainer">
                <span class="numberContainer">1</span>
                <span>Done</span>
              </div>
            </div>
          </a>
          <a href="board.html" class="summaryCardBig">
            <div class="iconContainer">
              <div class="divCardBigIcons">
                <img
                  class="summaryIcons"
                  src="..//assets/icons/urgent_white.svg"
                />
              </div>
              <div class="textContainer">
                <span class="numberContainer">1</span>
                <span>Urgent</span>
              </div>
            </div>
            <div class="seperatorBigCard"></div>
            <div class="textContainerBigCard">
              <span class="dateText">October 16, 2024</span>
              <span class="deadlineText">Upcomming Deadline</span>
            </div>
          </a>
          <a href="board.html" class="summaryCardSmall">
            <div class="iconContainer">
              <div class="textContainer">
                <span class="numberContainer">5</span>
                <span>Tasks in Board</span>
              </div>
            </div>
          </a>
          <a href="board.html" class="summaryCardSmall">
            <div class="iconContainer">
              <div class="textContainer">
                <span class="numberContainer">2</span>
                <span>Tasks in Progress</span>
              </div>
            </div>
          </a>
          <a href="board.html" class="summaryCardSmall">
            <div class="iconContainer">
              <div class="textContainer">
                <span class="numberContainer">2</span>
                <span>Awaiting Feedback</span>
              </div>
            </div>
          </a>
        </div>
        <div class="greetingContainer">
          <span class="greetText" id="greetText">Text,</span>
          <span class="greetUserName" id="greetUserName"></span>
        </div>
      </div>
    </div>
  </body>
</html>
