.add-task-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 100px;
}

.add-task-container h1 {
  font-size: 48px;
}

.add-task-container input {
  border-radius: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
}

.add-task-container select {
  border-radius: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  gap: 10px;
  padding: 12px 16px 12px 16px;
}

.add-task-container textarea {
  border-radius: 10px;
  width: 440px;
  border: 1px solid #d1d1d1;
  gap: 10px;
  padding: 12px 16px 12px 16px;
}

.headline-task {
  font-size: 61px;
  font-weight: 700;
  margin-top: 200px;
  margin-left: 300px;
}

.seperator {
  width: 0px;
  height: 424px;
  gap: 0px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #d1d1d1;
  opacity: 1;
}

.groupTask1-input {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 16px;
}

.groupTask2-input {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 16px;
}

.prio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.prioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 136px;
  height: 56px;
  gap: 8px;
  padding: 16px 10px 16px 10px;
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 21px;
}

.prioBtn:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

.btnTask {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a3647;
  width: 193px;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  line-height: 25.2px;
}

.btnClear {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 120px;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  font-size: 21px;
  color: #2a3647;
  font-weight: 700;
  border: 1px solid;
}

.btnTask:hover {
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
  cursor: pointer;
}

.btnClear:hover {
  color: #29abe2;
  border: 0.5px solid #29abe2;
  cursor: pointer;
}

.btnClear:hover .iconCancelSvg {
  filter: invert(53%) sepia(100%) saturate(305%) hue-rotate(153deg)
    brightness(91%) contrast(106%);
}

.midBtn-Color {
  background-color: #ffa800;
  color: #ffffff;
}

.addTaskBtn-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 100px;
}

.required-field-text {
  z-index: 1;
  margin-top: 170px;
  align-items: center;
  justify-content: center;
}

.required-color {
  color: red;
}

.selected {
  color: white;
}

.user span {
  font-weight: bold;
}

.emblem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #29abe2;
  color: white;
  font-size: 12px;
}

.contactList {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.contactList:hover {
  background-color: #f6f7f8;
}

.contactList span {
  width: 100%;
}

/*
.contactList:focus {
  color: white;
  background-color: #2a3647;
  outline: none;
}

.contactList:focus:hover {
  background-color: #091931;
}
*/

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  z-index: 2;
}

.contactContainer:hover {
  cursor: pointer;
}

.contactContainer span {
  font-size: 20px;
}

.show {
  display: flex;
}

.close {
  display: none;
}

.users {
  display: none;
  position: absolute;
  background-color: #ffffff;
  height: 150px;
  width: 440px;
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
  top: 633px;
  z-index: 1;
}

/*
.assignees {
  display: none;
  height: 150px;
  overflow-y: auto;
  position: sticky;
  z-index: 99;
  list-style: none;
  padding-inline-start: 16px;
  background-color: #ffffff;
  border-radius: 10px;
}
*/

input[type='checkbox'] {
  height: 14px;
  width: 14px;
}

.contactName {
  width: 320px;
}

.tasks {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 440px;
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
  top: 583px;
  z-index: 1;
}

/*
.tasks {
  display: none;
  justify-content: center;
  height: 150px;
  overflow-y: auto;
  position: sticky;
  z-index: 99;
  list-style: none;
  padding-inline-start: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
*/

.tasks li:hover {
  background-color: #f6f7f8;
}

.subtask-container {
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  background-color: #ffffff;
}

.subtask-container input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1px;
  width: 100%;
}

.subtask-right-add img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.subtask-right-add {
  display: flex;
}

.subtask-right-add img {
  width: 24px;
  height: 24px;
}

.subtask-right-seperator {
  height: 24px;
  width: 1px;
  margin: 0px 4px;
  background-color: #d1d1d1;
}

.subtask-right-regular img {
  height: 24px;
  width: 24px;
}

.subtask-right-regular img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.subtask {
  height: 90px;
  overflow-y: auto;
}

.subtaskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 32px;
  gap: 4px;
  padding: 4px 16px 4px 16px;
}

.subtaskList::before {
  content: '\2022';
}

.subtaskList:hover {
  background-color: #dcdcdc;
  border-radius: 10px;
}

.subtaskList input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.editsubtaskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 32px;
  gap: 4px;
  padding: 4px 16px 4px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #29abe2;
  border-radius: 0px;
}

.editsubtaskList input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.editsubtaskList img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.edit-images {
  display: flex;
}

.edit-seperator {
  height: 24px;
  width: 1px;
  margin: 0px 4px;
  background-color: #d1d1d1;
}

.dnone {
  display: none;
}

.btnEdit-svg:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #d2d2d2;
}

.grey-emblem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7a7b7b;
  color: white;
  font-size: 12px;
}