.add-task-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 100px;
}

.add-task-container h1 {
    font-size: 48px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task-container input {
    border-radius: 10px;
    width: 440px;
    height: 48px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
}

.add-task-container select {
    border-radius: 10px;
    width: 440px;
    height: 48px;
    border: 1px solid #D1D1D1;
    gap: 10px;
    padding: 12px 21px 12px 21px;
}

.add-task-container textarea {
    border-radius: 10px;
    width: 440px;
    border: 1px solid #D1D1D1;
    gap: 10px;
    padding: 12px 21px 12px 21px;
}

.headline-task {
    font-size: 61px;
    font-weight: 700;
    margin-top: 200px;
    margin-left: 300px;
}

.seperator {
    width: 0px;
    height: 424px;
    gap: 0px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #D1D1D1;
    opacity: 1;
}

.groupTask1-input{
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 16px;   
}

.groupTask2-input{
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 16px; 
}

.prio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.prioBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 136px;
    height: 56px;
    gap: 8px;
    padding: 16px 10px 16px 10px;
    border: none;
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 21px;
}

textarea {
    resize: none;
}

.btnTask {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2A3647;
    width: 193px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 25.2px;
}

.btnClear {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 120px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    font-size: 21px;
    color: #2A3647;
    font-weight: 700;
    border: 1px solid;
}

.btnTask:hover {
    background-color: #29ABE2;
    border: 0.5px solid #29ABE2;
    cursor: pointer;
}

.btnClear:hover {
    color: #29ABE2;
    border: 0.5px solid #29ABE2;
    cursor: pointer;
}

.btnClear:hover .cancel-svg {
    fill: #29ABE2;
}

.midBtn-Color {
    background-color:#FFA800;
    color: #FFFFFF;
}

.addTaskBtn-Container {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 100px;
}

.required-field-text {
    margin-top: 230px;
}

.requierd-color {
    color: red;
}