.showBigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.bigCard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 750px;
  position: sticky;
  overflow-y: auto;
  gap: 24px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
}

.big-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-date {
  display: flex;
  align-items: center;
  gap: 32px;
}

.big-priority {
  display: flex;
  align-items: center;
  gap: 32px;
}

.bigUsersEmblem {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bigUsersEmblem div {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.bigUsersEmblem img {
  width: 32px;
  height: 32px;
}

.big-subtaks {
  display: flex;
  flex-direction: column;
}

.big-subtaks div {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.big-edit {
  display: flex;
}

.big-delete {
  display: flex;
  align-items: center;
}

.big-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
