.contactContainer {
    display: flex;
    flex-direction: row;
    margin-left: 232px;
    background-color: #F6F7F8;
    height: 100vh;
}

.divContactList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 30%;
    height: 100%;
    box-shadow: 4px 0px 6px 0px #00000014;
}

.btnJoin {
    position: sticky;
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 8px;
    min-width: 90px;
    max-width: max-content;
    height: 49px;
    border: 0.5px solid #2A3647;
    padding: 0px 15px 0px 15px;
}

.marginbtnJoin {
    margin-top: 120px;
    margin-bottom: 16px;
}


.btnJoin:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: 0.5px solid #29ABE2;
    text-decoration: none;
}

.style_BtnTypography1 {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
}

.style_InputTypography1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


.btnGuest {
    background-color: white;
    color: #2A3647;
    border-radius: 8px;
    min-width: 90px;
    height: 49px;
    border: 0.5px solid #2A3647;
    padding: 0px 15px 0px 15px;
}

.btnGuest:hover {
    cursor: pointer;
    color: #29ABE2;
    border: 0.5px solid #29ABE2;
}

.style_InputTypography1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.iconContact {
    width: 29px;
    height: auto;
    vertical-align: middle;
}

.divList {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.divAlphabet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 90%;
    height: 58px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 17px 36px 17px 36px;
}

.divShortContact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 95%;
    height: 78px;
    padding: 15px 24px 15px 24px;
    gap: 35px;

}

.divShortContact:hover {
    cursor: pointer;
    background-color: #F6F7F8;
    border-radius: 10px;
}

.divShortInfo {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.contactEmblem {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}

.divContactDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    margin-top: 150px;
    margin-left: 50px;
}

.divContactTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 73px;
}

.titleContact {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: start;
}

.seperator {
    width: 0px;
    height: 60px;
    border: 1px solid #29ABE2;
}


.divDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 364px;
    margin-top: 50px;
    left: 50px;
    gap: 21px;
}

@keyframes move-left {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}
.move-left {
    animation: move-left 1s ease-in-out;
}

.headlineContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

.emblemInfo {
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-weight: 400;   
    font-size: 57px;
    text-align: center;    
    justify-items: center;
    align-content: center;
    margin: 35px 35px 35px 0px;
}

.nameContact {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 47px;

}

.a_nameContact {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400px;
    gap: 13px;
}

.a_nameContact img {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.a_nameContact a:hover{
    cursor: pointer;
    color: #29ABE2;
    font-weight: 600;
}

.a_nameContact a:hover .imgBtns{
    filter: invert(60%) sepia(88%) saturate(1665%) hue-rotate(165deg) brightness(93%) contrast(89%);
}

.info {
    height: 74px;
    font-size: 20px;
    font-weight: 400px;
    line-height: 24px;
    align-content: center;
}

.styleDivinfo {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 15px 0px;
    font-size: 16px;
    font-family: 400px;
    gap: 15px;
}

/* Style pop_up dialog*/

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.dialog {
    display: flex;
    flex-direction: row;
    height: 592px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
}

.joinAddContact {
    background-color: #2A3647;
    border: 3px solid #2A3647;
    border-radius: 20px 0px 0px 20px;
    color: white;
    height: 100%;
    align-content: center;
    padding: 0px 48px 0px 48px;
}

.iconJoinContact {
    width: 55px;
    height: auto;
    margin-bottom: 16px;
}

.textAdd {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    margin: 16px 0px 16px 0px;
}

.seperatorAdd {
    width: 90px;
    height: 0px;
    border: 2px solid #29ABE2;
}

.addcontactForm {
    display: flex;
    gap: 32px;
    margin-right: 40px;
    margin-top: 170px;
    align-items: center;
    justify-content: center;
}

.groupContact-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 422px;
    height: 2165x;
    gap: 16px;
}

.inputsContact {
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: 100%;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    color: black;
    cursor: pointer;
}

.divBtnForm {
    display: flex;
    margin-top: 32px;
    gap: 24px;
    align-content: center;
}

.imgBtns {
    vertical-align: middle;
    background-color: transparent;
}

.btnClose {
    display: flex;
    width: 32px;
    height: 32px;
    margin-top: 40px;
    float: right;
    margin-right: 48px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}

.btnClose:hover {
    background-color: #F0F0F0;
    border-radius: 50%;
}


