body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(223, 224, 225);
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000001a;
  padding: 20px 40px 20px 348px;
  z-index: 1;
  position: fixed;
  top: 0;
  height: 96px;
  width: 100%;
<<<<<<< HEAD
  max-width: 1440px;
=======
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
}

.header-left {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.header-right {
  display: flex;
  align-items: center;
<<<<<<< HEAD
=======
  gap: 16px;
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
}

.help {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.help img:hover {
  cursor: pointer;
  scale: 1.5;
}

.headericon {
  height: 20px;
  width: 20px;
=======
.help svg:hover {
  cursor: pointer;
  scale: 1.2;
}

.headericon {
  height: 30px;
  width: 30px;
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
}

.useremblem {
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #2a3647;
  color: #29abe2;
<<<<<<< HEAD
  font-size: 20px;
  font-weight: bold;
  align-content: center;
}

.useremblem:hover,
.useremblem:focus {
  cursor: pointer;
  background-color: #cecece;
}

.header-user {
  position: relative;
  display: inline-block;
=======
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.useremblem:hover {
  cursor: pointer;
  background-color: #d2d2d2;
}

.dropdown {
  float: right;
  position: relative;
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
}

.dropdownContent {
  display: none;
  position: absolute;
<<<<<<< HEAD
  top: 72px;
  right: 0;
  background-color: #2a3647;
  height: 158px;
  width: 150px;
  overflow: auto;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
=======
  background-color: #2a3647;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  top: 96px;
  right: 0;
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
  z-index: 1;
}

.dropdownContent a {
  color: #cdcdcd;
<<<<<<< HEAD
  text-decoration: none;
  display: flex;
  width: 130px;
  height: 46px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.dropdownContent a:hover {
  background-color: rgb(45, 61, 89);
=======
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #2a3d59;
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
}

.show {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  justify-content: center;
=======
>>>>>>> 419af5b5ce5b26fcc83ab4e770f1f2d4263be2ed
}
