.legal_notice {
  margin: 200px 100px 32px 300px;
  position: sticky;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%
}

@media (max-width: 1425px) {
    .legal_notice {
      margin: 200px 100px 32px 300px;

    }
  
    .text {
      margin-top: 20px;
    }
  }

@media (max-width: 380px) {
  .title h1{
    font-size: 48px;
  }
}