body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.overlay {
  display: flex;
  max-width: 100%;
  height: 100vh;
  background-color: #F6F7F8;
  position: relative;
}

.containerLog {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1400px;
  height: 100vh;
  background-color: #F6F7F8;
  position: relative;
}

.headlineLogin {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.imgLogo {
  display: flex;
  justify-content: flex-start;
  width: 100.03px;
  height: 121.97px;
  margin: 13px 0px 13px 77px;
}

.divSignUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 279px;
  height: 49px;
  margin-right: 77px;
  gap: 35px;
}

.mobile_divSignUp {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 49px;
  gap: 35px;
}

/*Allgemeine Scrhrift für Buttons*/
.style_BtnTypography1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}

.style_BtnTypography2 {
  font-weight: 700;
  font-size: 16px;
  align-content: center;
}

.style_InputTypography1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.style_InputTypography2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

/*Style_Buttons dunkle Blau*/
.btnJoin {
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

.btnJoin:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
}

.btnGuest {
  background-color: white;
  color: #2a3647;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 15px 0px 15px;
}

.btnGuest:hover {
  cursor: pointer;
  color: #29abe2;
  border: 0.5px solid #29abe2;
}

.btnDisabled {
  background-color: #F6F7F8;
  color: #89898a;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #F6F7F8;
  padding: 0px 15px 0px 15px;
}

.formLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 652px;
  height: 493px;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000A;
  background: #FFFFFF;
}

.title {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: center;
}

.underline {
  border-bottom: 3px solid #29ABE2;
  padding-bottom: 15px;
}

.groupLogin-input {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 422px;
  height: 196px;
  gap: 20px;
}

.divInputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 422px;
  height: 48px;
  gap: 10px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
}

.inputs {
  background-repeat: no-repeat;
  background-position: right 10px center;
  width: 100%;
  gap: 10px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  color: black;
  cursor: pointer;
}

.box-remember {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 39px;
  height: 24px;
  width: 90%;
  gap: 8px;
}

.checkBox {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  border-radius: 3px 0px 0px 0px;
  border: 2px;
  border: 2px solid #2A3647;
}

form label {
  min-width: 110px;
  height: 19px;
}

.divBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footerLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  gap: 16px;
}

.a_footer {
  color: lightslategray;
  margin: 20px;
  text-decoration: none;
}

.a_footer:hover {
  color: #29ABE2;
  font-weight: bold;
}

/*Styles for Signup*/

.headlineSignUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.a_headlineSignUp {
  margin-right: 60px;
  align-self: flex-start;
}

.a_headlineSignUp:hover {
  background-color: #ECE0E0;
  border-radius: 50%;
  padding: 0;
}

.icoArrowLeft {
  width: 32px;
  height: 32px;
  color: #29ABE2;
  padding: 0;
}

.formSignUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 598px;
  height: 630px;
  padding: 48px 88px 48px 88px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000A;
  gap: 32px;
  background: #FFFFFF;
}

.groupSignUp-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 422px;
  height: 326px;
  gap: 16px;
}

.box-rememberSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 90%;
  gap: 8px;
}

.a_formSignUp {
  color: #29ABE2;
  text-decoration: none;
}

.a_formSignUp:hover {
  text-decoration: underline;
}

/* Login animation */
@keyframes moveLogo {
  0% {
    transform: translateX(200%) translateY(150%);

    scale: 2.5;
  }

  100% {
    scale: 1.0;
    transform: translateX(0%) translateY(0%);

  }
}

@keyframes opacity {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    display: none;
  }
}

.imgLogoMove {
  display: flex;
  justify-content: center;
  width: 100.03px;
  height: 121.97px;
  position: relative;
}

.animation1 {
  animation: moveLogo 2s ease-in-out;
}

.animation2 {
  animation: opacity 1s ease-in-out;
  display: none;
}

.d-none {
  display: none;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-items: center;
  animation: moveSignUp 1s ease-in-out;
}

/* Signup successfull animation*/
@keyframes moveSignUp {
  0% {
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(50%);
  }
}

/*Resposive Login*/
@media(max-width:700px) {
  .divSignUp {
    display: none;
  }

  .mobile_divSignUp {
    display: flex;
  }

  .imgLogo {
    width: 70px;
    height: 90px;
  }

  .title {
    font-size: 45px;
  }

  .underline {
    padding-bottom: 5px;
  }

  .formLogin {
    width: 530px;
    height: 400px;
    padding: 35px 45px 35px 45px;
    gap: 22px;
  }
}

@media(max-width:550px) {
  .imgLogo {
    width: 50px;
    height: 70px;
    margin: 13px 0px 13px 57px;
  }

  .title {
    font-size: 40px;
  }

  .divBtn {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  .style_BtnTypography1 {
    font-size: 18px;
  }

  .btnGuest {
    height: 40px;
  }

  .btnJoin {
    height: 40px;
  }

  .groupLogin-input {
    gap: 18px;
    height: 160px;
  }

  .formLogin {
    width: 450px;
    height: 530px;
    padding: 25px;
    gap: 15px;
  }
}

@media(max-width:460px) {
  .imgLogo {
    width: 40px;
    height: 60px;
    margin: 13px 0px 13px 37px;
  }

  .title {
    font-size: 35px;
  }

  .groupLogin-input {
    width: 290px;
    gap: 18px;
    height: 160px;
  }

  .formLogin {
    width: 315px;
    height: 430px;
    padding: 25px;
    gap: 15px;
  }

  .style_BtnTypography1 {
    font-size: 16px;
  }

  .style_InputTypography2 {
    font-size: 14px;
  }

  .inputs {
    font-size: 14px;
  }
}

/*responsive SignUp*/
@media(max-width:620px) {
  .a_headlineSignUp {
    margin-top: 25px;
  }

  .formSignUp {
    width: 480px;
    height: 560px;
    padding: 28px 38px 28px 38px;
  }
}

@media (max-width:500px) {
  .formSignUp {
    width: 380px;
    height: 560px;
    padding: 28px 38px 28px 38px;
  }

  .groupSignUp-input {
    width: 350px;
    height: 360px;
  }

  .inputs {
    font-size: 16px;
  }
}

@media (max-width:400px) {
  .formSignUp {
    width: 315px;
    height: 560px;
    padding: 8px 18px 8px 18px;
  }

  .groupSignUp-input {
    width: 300px;
  }

  .inputs {
    font-size: 14px;
  }
}