.frame-10 {
    display: flex;
    width: 232px;
    height: 46px;
    align-items: center;
    gap: 8px;
    color: #cdcdcd;
    justify-content: center;
  }
  .frame-10:hover {
    box-sizing: border-box;
    cursor: pointer;
    background-color: #2a3d59;
  }
  
  .frame-10_helper {
    width: 120px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .frame-10-active {
    display: flex;
    width: 232px;
    height: 46px;
    align-items: center;
    gap: 8px;
    color: #cdcdcd;
    justify-content: center;
    gap: 8px;
    background: #091931;
    cursor: default;
    text-decoration: none;
    color: var(--white, #fff);
  }
  .frame-10-active > span {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    background: #091931;
    cursor: default;
    text-decoration: none;
  }
  
  .frame-10 > span {
    color: #cdcdcd;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
  }