.smallcard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 230px;
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #ffffff;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  word-break: break-word;
}

.description {
  word-break: break-word;
}

.showBigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.dnone {
  display: none;
}

.bigCard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 750px;
  position: sticky;
  overflow-y: auto;
  gap: 24px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
}

.big-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-title {
  word-break: break-word;
}

.big-date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bigPriority img {
  height: 24px;
  width: 24px;
}

.big-priority {
  display: flex;
  align-items: center;
  gap: 8px;
}

.close {
  height: 40px;
  width: 40px;
}

.close:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.bigCard img:hover {
  cursor: pointer;
}

.bigCard-edit {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-block-start: auto;
}

.big-delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.big-seperator {
  width: 0px;
  height: 24px;
  gap: 0px;
  border: 1px solid #d1d1d1;
  opacity: 1;
}

.big-edit {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bigUsersEmblem {
  display: inline-flex;
}

.bigUserEmblem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  font-weight: 400;
}

.smallUsersEmblem {
  display: flex;
  margin-left: 8px;
}

.smallUserEmblem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.grey-emblem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7a7b7b;
  color: white;
  font-size: 12px;
}

/*mobile responsive*/
.mobileBoard {
  display: none;
}

.amobile_boardOptions {
  position: absolute;
  flex-direction: column;
  gap: 5px;
  top: 5px;
  right: 5px;
  border: 1px solid #f6f7f8;
  border-radius: 10px;
  width: max-content;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 0px 3px 0px #9fbdc1;
  font-size: 12px;
}

.amobile_boardOptions a:hover {
  cursor: pointer;
  color: #f4f4f4;
  font-weight: 400;
  background-color: #29abe2;
  border-radius: 10px;
  padding: 0px 2px 0px 8px;
}

.mobileClose {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.btnClose {
  border: solid 1px #7a7b7b;
  border-radius: 10px;
}

.btnClose:hover {
  cursor: pointer;
  background-color: #29abe2;
  color: #f4f4f4;
}

@media (max-width: 1345px) {
  .smallcard {
    width: 280px;
  }
}

@media (max-width: 800px) {
  .smallcard {
    width: 265px;
  }

  .bigCard {
    height: 70%;
    width: 70%;
    padding: 24px 16px 24px 16px;
  }
}

@media (max-width: 710px) {
  .mobileBoard {
    display: flex;
  }

  .smallcard {
    width: 250px;
  }
}

@media (max-width: 650px) {
  .mobileBoard {
    display: flex;
  }

  .bigCard {
    width: 80%;
  }
}
