.smallcard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 250px;
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #ffffff;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.showBigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.dnone {
  display: none;
}

.bigCard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 750px;
  gap: 24px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
}

.big-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bigPriority img {
  height: 24px;
  width: 24px;
}

.close {
  height: 40px;
  width: 40px;
}

.bigCard img:hover {
  cursor: pointer;
}

.bigCard-edit {
  display: flex;
  justify-content: flex-end;
}

.big-delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.big-edit {
  display: flex;
  align-items: center;
  cursor: pointer;
}
