.titleContact {
    font-size: 61px;
    font-weight: 700;
}

.seperator {
    width: 0px;
    height: 60px;      
    border: 1px solid #29ABE2;  
  }

.summaryTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    margin-left: 300px;
    gap: 24px;
}

.summaryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 20px;
    gap: 24px;
    width: 560px;
    height: 562px;
}

.summaryCard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    gap: 18px;
    background-color: #FFFFFF;
}

.summaryCardBig {
    width: 560px;
    height: 168px;
    background-color: #FFFFFF;
    padding: 28px 48px 28px 48px;
    border-radius: 30px;
}

.summaryCardSmall {
    width: 168px;
    height: 168px;
    padding: 25px 0px 25px 0px;
    border-radius: 30px;
    background-color: #FFFFFF;
    gap: 13px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summaryIcons {
    background-color: #2A3647;
    height: 69px;
    width: 69px;
    border-radius: 100px;
    padding: 10px;
}

.numberContainer {
    font-size: 32px;
    font-weight: bold;
}
