.titleContact {
    font-size: 61px;
    font-weight: 700;
}

.seperator {
    width: 0px;
    height: 60px;      
    border: 1px solid #29ABE2;  
  }

.summaryTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    margin-left: 300px;
    gap: 24px;
}

.summaryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 20px;
    gap: 24px;
    width: 560px;
    height: 562px;
}

.summaryCard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    gap: 18px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: black;
}

.summaryCardBig {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 560px;
    height: 168px;
    background-color: #FFFFFF;
    padding: 28px 48px 28px 48px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.summaryCardSmall {
    width: 168px;
    height: 168px;
    padding: 25px 0px 25px 0px;
    border-radius: 30px;
    background-color: #FFFFFF;
    gap: 13px;
    text-decoration: none;
    color: black;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summaryIcons {
    background-color: #2A3647;
    border-radius: 100px;
    padding: 8px;
    margin-right: 6px;
}

.numberContainer {
    font-size: 64px;
    font-weight: 600;
}

.summaryCard:hover {
    scale: 1.1;
    background-color: #2A3647;
    color: #FFFFFF;
}

.summaryCard:hover .summaryIcons {
    background-color: #FFFFFF;
}

.summaryCard:hover .summaryIcons path {
    fill: #2A3647;
}

.summaryCardSmall:hover {
    scale: 1.1;
    background-color: #2A3647;
    color: #FFFFFF;
}

.summaryCardBig:hover {
    scale: 1.1;
    background-color: #2A3647;
    color: #FFFFFF;
}

.seperatorBigCard {
    width: 0px;
    height: 60px;      
    border: 1px solid #d1d1d1;  
    margin-left: 20px;
    margin-right: 20px;
}

.textContainerBigCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.joinContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.greetingContainer {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.greetUserName {
    font-size: 56px;
    width: 585px;
    color: #29ABE2;
    font-weight: 700;
}

.greetText {
    font-size: 32px;
    font-weight: 500;
}

.dateText {
    font-weight: 700;
    font-size: 21px;
}

.deadlineText {
    font-size: 16px;
    font-weight: 400;
}