body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}

.icon-container {
  position: absolute;
  animation: moveIcon 4s forwards; /* Gesamtdauer der Animation */
  width: 200px; /* Startgröße des Containers */
  height: 200px; /* Startgröße des Containers */
}

.icon-container img {
  width: 100%; /* Größe relativ zum Container */
  height: 100%; /* Größe relativ zum Container */
}

@keyframes moveIcon {
  0%,
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 200px; /* Beibehalten der Startgröße */
    height: 200px; /* Beibehalten der Startgröße */
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    opacity: 0.1;
    width: 50px; /* Zielgröße des Containers */
    height: 50px; /* Zielgröße des Containers */
  }
}
